{extend name='base'}
{block name='xtitle'}
<a class="btn btn-primary" href="{:url('create')}"><i class="fa fa-plus"></i> {$Think.lang.create}</a>
{/block}
{block name='body'}
<table class="table table-striped jambo_table">
  <thead>
    <tr>
      <th>{$Think.lang.auth_title}</th>
      <th>{$Think.lang.auth_name}</th>
      <th>{$Think.lang.auth_level}</th>
      <th>{$Think.lang.status}</th>
      <th>{$Think.lang.ismenu}</th>
      <th>{$Think.lang.icon}</th>
      <th>{$Think.lang.sorts}</th>
      <th>{$Think.lang.control}</th>
    </tr>
  </thead>
  <tbody>
    {volist name='trees' id='vo' empty='no recode'}
    <tr>
      <td>
      {switch name='vo.level'}
        {case value='2'}  |--{/case}
        {case value='3'}  |  |--{/case}
        {default /}
      {/switch}{$vo.title}
      </td>
      <td>{$vo.name}</td>
      <td>
      {switch name='vo.level'}
        {case value='1'}{$Think.lang.project}{/case}
        {case value='2'}{$Think.lang.model}{/case}
        {default /}{$Think.lang.control}
      {/switch}
      </td>
      <td>{$vo.status?'<i class="fa fa-check-circle-o green"></i>':'<i class="fa fa-times-circle-o red"></i>'}</td>
      <td>{$vo.ismenu?'<i class="fa fa-check-circle-o green"></i>':'<i class="fa fa-times-circle-o red"></i>'}</td>
      <td>{notempty name='vo.icon'}<i class="{$vo.icon}"></i>{/notempty}</td>
      <td>{$vo.sorts}</td>
      <td>
        <a href="{:url('edit',['id'=>$vo.id])}" class="btn btn-primary btn-xs edit"><i class="fa fa-edit"></i> {$Think.lang.edit}</a>
        <a href="javascript:void(0)" title='{$vo.id}' data-dismiss="alert" class="btn btn-danger btn-xs delete"><i class="fa fa-close"></i> {$Think.lang.delete}</a>
      </td>
    </tr>
    {/volist}
  </tbody>
</table>
{/block}
{block name='js'}
<script type="text/javascript">
  $(document).ready(function(){ ajaxdelete("{:url('delete')}")});
</script>
{/block}